<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationContent WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LocationContent WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LocationContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB6CD8D11E359D6E000F3741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB6CD8E51E359D6E000F3741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB6CD8F01E359D6F000F3741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB6CD8F91E359D6F000F3741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
